/* ==========================================================================
   Base styles: opinionated defaults (vendors)
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    text-shadow: none;
}

::selection {
    text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

iframe,
img {
    vertical-align: middle;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #222;
    padding: 0.2em 0;
}

/* ==========================================================================
   Here start out CSS
   ========================================================================== */

/* Reseting bootstrap default proprietes */

.container-fluid {
    padding:0;
}

a:hover {
    text-decoration: none;
}

*:focus {
    outline: 0;
}

/* Home section */

.home {
    height: 100vh;
    width: 100%;
    padding-top: 15%; /*for the text position*/
}

.home_content {
    margin: auto;
    width: 41%;
    height: 40%;
    text-align: center;
    color: #fff;
}

.home_content h1 {
    margin-top:0;
    padding: 20px 40px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.9);
    font-family: 'Audiowide', cursive;
    font-size: 15px;
}


/* CSS des articles */


article {
    background-color: whitesmoke;
    color: #222;
}

article:hover {
    background-color: #222;
    color: whitesmoke;
}

article h2 {
    font-family: 'Audiowide', cursive;
    font-weight: 400;
    font-size: 1.1em;
    margin-top: 30px;
    text-transform: uppercase;
}

article h3 {
    font-size: 1.2em;
    text-transform: uppercase;
    margin-top: 0px;
}

article p {
    text-align: justify;
    margin-bottom: 30px;
}

article img {
    margin-top: 10px;
    margin-bottom: 30px;
}

article.partenaire:hover {/* avoid negative form of logo*/
    background-color: whitesmoke;
    color: #222;
}


/* Style des sections*/

.section_title {
    padding : 0 40px 0 30px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: whitesmoke;
    font-size: 15px;
    font-family: 'Audiowide', cursive;
}

section {
    padding-top: 3%;
    padding-bottom: 3%;
}

.pres_line {
    height: 1px;
    background-color: #333;
    width: 300px;
    margin-bottom: 20px;
    margin-left: 18px;
}

.column {
    margin-top: 2%;
}

.line {
    width: 50%;
    height: 1px;
    background-color: grey;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact {
    height: 100vh;
}

.map {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    width: 75%;
    filter: saturate(0);
    opacity: 0.9;
    margin-bottom: 100px;
}

footer {
    height: 75px;
    width: 100%;
    background-color: #222;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    text-transform: uppercase;
}

footer p {
    margin-bottom: 0px;
}



/* backgrounds */

.background {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-color: #222;
    width: 100%;
}

.background_home {
    background-image: url("../img/MG_2088.png");
}

.background_pres {
    background-image: url("../img/presentation.png");
}

.background_lieux {
    background-image: url("../img/clavier.jpg");
}



/* Below is the design for the contact form */

#contact-wrap {
    font-family: 'Lato Light', calibri, arial;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    color: #fff;
    overflow: auto;
    float: left;
    margin: 0 auto;
}

#contact-area {
    margin-left: 3px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
}

#contact-area input,
#contact-area textarea {
    padding: 5px;
    width: 100%;
    font-family: 'Lato Light', calibri, arial;
    color: whitesmoke;
    background-color: transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid #fff;
    border-right: 1px solid transparent;
    margin-bottom: 15px;
}

#contact-area textarea {
    height: 150px;
    background-color: transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid #fff;
    border-right: 1px solid transparent;
}

#contact-area textarea:focus,
#contact-area input:focus {
    background-color: whitesmoke;
    color: #222;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid #fff;
    border-right: 1px solid transparent;
}

#contact-area input.submit-button {
    font-family: 'Lato Black', calibri, arial;
    font-size: 15px;
    text-transform: uppercase;
    width: 100px;
    float: left;
    background-color: transparent;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    float: right;
    font-weight: bold;
}

#contact-area input.submit-button:hover {
    color: #222;
    background-color: whitesmoke;
}

::-webkit-input-placeholder {
    font-size: 15px;
    font-weight: 600;
}

::-moz-placeholder {
    /* Firefox 18- */
    font-size: 15px;
    font-weight: 600;
}

::placeholder {
    /* Firefox 19+ */
    font-size: 15px;
    font-weight: 600;
}

:-ms-input-placeholder {
    font-size: 15px;
    font-weight: 600;
}

select {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    color: #8E8E8F;
    background-color: transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid #fff;
    border-right: 1px solid transparent;
    margin-bottom: 15px;
}

option {
    background-color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: transparent;
}

/* ##################################################################### */


/* ############################   TABLETS   ############################ */


/* ##################################################################### */


/* Small devices (tablets, 768px and up) */

@media (max-width: 1050px) {
    [class*="col-"] {
        padding-right: 0px;
        padding-left: 0px;
    }
    
    .pres_underline {
        display: none;
    }
    
    .section-present {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .block h2 {
        margin-top: 0px;
        padding-top: 40px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
    }
    
    .section-present p {
        padding-left: 40px;
        padding-right: 40px;
        margin-bottom: 0px;
    }
    
    .section-present h3 {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 20px;
        margin-bottom: 5px;
    }
    
    .block {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-bottom: 40px;
    }
    
    .participant {
        width: 50%;
        margin: 0 auto;
        margin-top: 10px;
    }
    
    .participant p {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .partenaire {
    padding-left: 25px !important;
    padding-right: 25px !important;
}
    
    .fourth-div {
        width: 100%;
    }
    
    .six-wrap {
        width: 100%;
    }
    
    .eight-div {
        width: 100%;
    }
    
     .adptmap {
        display: block;
        margin: 0 auto;
        width: 85%;
        margin-top: 30px;
         height: 300px;
         padding-bottom: 50px;
    }
    
    iframe {
        border: 0px !important;
    }
    
    footer {
        margin-top: 0px;
    }
    
    footer p {
        padding-left: 40px;
        padding-right: 40px;
        text-align: center;
    }
}