/* ==========================================================================
   Base styles: opinionated defaults (vendors)
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    text-shadow: none;
}

::selection {
    text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

iframe,
img {
    vertical-align: middle;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #222;
    padding: 0.2em 0;
}

/* ==========================================================================
   Here start out CSS
   ========================================================================== */

/* Reseting bootstrap default proprietes */

.container-fluid {
    padding:0;
}

a:hover,
a:visited,
a:active {
    text-decoration: none;
}

*:focus {
    outline: 0;
}

a {
    cursor: pointer;
}
/* Home section */

.home {
    height: 100vh;
    width: 100%;
    padding-top: 15%; /*for the text position*/
}

.home_container {
    margin: auto;
    width: 41%;
    height: 40%;
    text-align: center;
    color: #fff;
}

.home_container h1 {
    margin-top:0;
    padding: 20px 40px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    font-family: 'Audiowide', cursive;
    font-size: 1em;
}

.down_arrow {
    margin: 0 auto;
    height: 10px;
    width: 20px;
    background: transparent url("img/down-arrow.svg") cover no-repeat;
}


/* CSS des articles */


article {
    background-color: whitesmoke;
    color: #222;
}

article:hover {
    background-color: #222;
    color: whitesmoke;
}

article h2 {
    font-family: 'Audiowide', cursive;
    font-weight: 400;
    font-size: 1.1em;
    margin-top: 30px;
    text-transform: uppercase;
}

article h3 {
    font-size: 1.2em;
    text-transform: uppercase;
    margin-top: 0px;
}

article p {
    text-align: justify;
    margin-bottom: 30px;
    font-size: 1em;
}

article img {
    margin-top: 10px;
    margin-bottom: 30px;
    height: 1%;
}

article.partenaire:hover {/* avoid negative form of logo*/
    background-color: whitesmoke;
    color: #222;
}


/* Style des sections*/

.section_title {
    padding : 0 40px 0 30px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: whitesmoke;
    font-size: 15px;
    font-family: 'Audiowide', cursive;
}

section {
    padding-top: 3%;
    padding-bottom: 3%;
}

.pres_line {
    height: 1px;
    background-color: #333;
    margin-bottom: 20px;
    margin-left: 18px;
}

.column {
    margin-top: 2%;
}

.line {
    width: 50%;
    height: 1px;
    background-color: grey;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.participant {
    margin-bottom: 20px;
    background-color: #222;
    text-align: center;
    border: 1px solid whitesmoke;
}

.participant p {
    color: white;
    padding: 10px;
    margin: 0px;
    text-transform: uppercase;
    font-size: 1.2em;
    cursor: pointer;
}

.partenaire {
    overflow: hidden;
}

.contact {
    height: 100vh;
}

.map {
    display: block;
    margin: 2% auto;
    margin-top: 50px;
    width: 75%;
    /*filter: saturate(1);*/
    opacity: 0.9;
    margin-bottom: 100px;
}

footer {
    height: 75px;
    width: 100%;
    background-color: #222;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    text-transform: uppercase;
}

footer p {
    margin-bottom: 0px;
}

/* backgrounds */

.background {
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-color: #222;
    width: 100%;
}

.background_home {
    background-image: url("../img/MG_2088.png");
}

.background_pres {
    background-image: url("../img/presentation.png");
}

.background_lieux {
    background-image: url("../img/clavier.jpg");
}



/* The code below is the design for the contact form */

.contact-area {
    padding-top: 5%;
    width: 100%;
    margin: 0 auto;

    color: #fff;
    font-family: 'Lato Light', calibri, arial;
    font-size: 15px;
    font-weight: 300;  
}

.contact-area input,
.contact-area select,
.contact-area textarea {
    padding: 5px;
    width: 100%;
    background-color: transparent;
    border-style : solid transparent;
    border-width: 0 0 1px 0;
    margin-bottom: 1.5%;

    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; 
}

.contact-area textarea {
    height: 150px;
}

.contact-area textarea:focus,
.contact-area input:focus {
    background-color: whitesmoke;
    color: #222;
}

.contact-area input.submit-button {
    text-transform: uppercase;
    height: 5%;
    margin-top: 1%;
    color: whitesmoke;
   
    background-color: transparent;
    border : 1px solid #fff;

    font-weight: bold;
}

.contact-area input.submit-button:hover {
    color: #222;
    background-color: whitesmoke;
}

::-webkit-input-placeholder {
    font-size: 15px;
    font-weight: 600;
}

::-moz-placeholder {
    /* Firefox 18- */
    font-size: 15px;
    font-weight: 600;
}

::placeholder {
    /* Firefox 19+ */
    font-size: 15px;
    font-weight: 600;
}

:-ms-input-placeholder {
    font-size: 15px;
    font-weight: 600;
}

select {
    font-weight: 600;
    color: #8E8E8F;
}

option {
    background-color: #fff;
}


/* ############################   RESPONSIVE   ######################### */

/* Small devices (tablets, 768px and up) */

@media (max-width: 1025px) {
    [class*="col-"] {
        padding-right: 10px;
        padding-left: 10px;
    }

    .home {
        padding-top: 40%;
    }
    .home_container {
        width: 60%;
    }

    .pres_line {
        display: none;
    }
    article {
        margin-bottom: 20%;
        padding: 7% 0%;
    }

    article h2 {
        text-align: center;
        margin: 0 0 5% 0;
    }

    footer {
        margin-top: 0;
        text-align: center;
    }
   
}

@media (min-width: 426px) and (max-width: 1025px) {
    .home {
        padding-top: 20%;
    }

    article {
        margin-bottom: 10%;
    }

    article.partenaire div.col-md-6 {
        padding-left: 7%;
    }
}